* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    --body-bg: linear-gradient(292.99deg, #B758B3 1.18%, rgba(37, 1, 36, 0.88) 46.91%, #000000 54.2%, rgba(0, 24, 25, 0.913475) 62.26%, #53E3E3 100%);
    --txt-clr: rgb(255, 255, 255);
    --footer-clr: rgb(188, 187, 187);

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    height: 100vh;
    width: 100vw;

    background: var(--body-bg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.2rem);

    color: var(--txt-clr);
    text-align: center;

    overflow-x: hidden;    
}

header {
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;

}
nav {
    font-size: 3rem;
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4rem;
}

nav li {
    list-style: none;
    text-decoration: underline;
    color: var(--txt-clr);
    letter-spacing: 2px;
}

nav li:hover {
    cursor: pointer;
}

#logo {
    max-width: 85px;
    max-height: 60px;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
    word-wrap: break-word;
}

#movie {
    display: flex;
    gap: 3.4rem;

    justify-content: center;
    align-items: flex-start;
}

#movie img {
    width: 150px;
    height: 225px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0.5px 20px 1px #000000;
    image-rendering: optimizeQuality;
    overflow: hidden;
}

#about {
    width: 35rem;
    text-align: left;
}


#about h2 {
    font-size: 2rem;
    margin-bottom: 1.9rem;
}

#about p {
    font-size: 1.4rem;
    max-height: 250px;
    overflow-y: scroll;
    padding-right: 1rem;

}

#about p::-webkit-scrollbar {
    width: 7px;
}
  
#about p::-webkit-scrollbar-track {
    background: #ffffff;
}
  
#about p::-webkit-scrollbar-thumb {
    background: rgba(0, 204, 222, 0.867);
    border-radius: 2px;
}
  
#about p::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 175, 178);
}

button {
    width: 18rem;
    height: 4.7rem;

    background-color: var(--txt-clr);
    font-weight: 700;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

button:hover {
    cursor: pointer;
}

button img {
    max-width: 35px;
    max-height: 25px;
}

footer {
    font-size: 1.4rem;
    width: 42rem;
    max-height: 4.2rem;
    
    color: var(--footer-clr);
}

@media (max-width: 458px){
    body {
        height: 100%;
        width: 100%;
    }
    
    header {
        margin: 5rem auto 2rem;
    }
    nav {
       justify-content: center;
       align-items: center;
    }
    nav li {
        font-size: 2rem;
    }

    #logo {
        width: 6rem;
        height: 4.9rem;
        margin: 0;
    }

    #movie {
        display: block;
    }

    #about {
        text-align: center;
        width: 31rem;
    }

    #about h2 {
        font-size: 2rem;
        margin: 1.3rem 0;
    }
    
    #about p {
        font-size: 1.2rem;
        width: 200px;
        max-height: 310px;
        margin: 0 auto;


    }
    
    button {
        margin-top: 2rem;
    }
    footer {
        font-size: 1.2rem;
        
        width: 29rem;

        margin-bottom: 2rem;
    }
}

@media (min-width: 459px) and (max-width: 578px){
    h1 {
        font-weight: 700;
        font-size: 2.5rem;
    }
    #about {
        width: 25rem;
    }

    #about h2 {
        font-size: 2rem;
    }
    
    #about p {
        font-size: 1.2rem;
        width: 250px;
    }
    
    footer {
        font-size: 1.4rem;
        
        width: 39rem;
    }
}

@media (min-width: 900px) {
    h1 {
        font-weight: 700;
        font-size: 4rem;
    }
    
    #movie {
        margin: 1.9rem 0;
    }
    
    #about h2 {
        font-size: 2rem;
    }
    
    #about p {
        font-size: 1.6rem;
        max-width: 400px;
        max-height: 274px;
    }
    
    footer {
        font-size: 1.4rem;
        
        width: 39rem;
    }
}

